body {
    font-family: 'Montserrat', sans-serif;
font-family: 'Sora', sans-serif;
background: linear-gradient(#3E3D39, #41403D);
color: #BBBABA;
}

.container {
    margin: 3rem;
    display: flex;
    justify-content: space-evenly;
}

.d-none {
    display: none;
}

/* MENU */
.button {
    background-color: rgb(158, 115, 58);
    max-width: 150px;
    text-align: center;
    border-radius: 15px;
    padding: 0.5rem;
    margin: 1rem;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

.button:hover{
    background-color: burlywood;
}

.button:active{
    background-color: rgba(222, 184, 135, 0.575);
}

#find {
    padding: 1rem;
    background-color: chocolate;
    font-weight: bold;
    font-size: x-large;
    border-radius: 50%;
    box-shadow: 10px 5px 5px grey;
}

.rule {
    background: linear-gradient(#3e3d39ee, #3E3D39);
    margin: 0.3rem;
    padding: 0.5rem;
    border-radius: 5px;
}

/* CHESSBOARD */
#chessboard {
    border: 5px solid #966F33;
    border-radius: 8px;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
}

#chessboard {
    transform: rotate(90deg);
}

.chessboard-strip {
    text-align: center;
    align-self: center;
}

.case {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: #f5f0ed;
    transform: rotate(-90deg);
}

.case:hover{
    filter: grayscale(70%);
}

.case--wrong {
    background-color: red;
}

.case-right {
    background-color: green;
}

.case:nth-child(-2n+9), 
.case:nth-child(9) ~ div:nth-child(-2n+16), 
.case:nth-child(17) ~ div:nth-child(-2n+25), 
.case:nth-child(25) ~ div:nth-child(-2n+32), 
.case:nth-child(33) ~ div:nth-child(-2n+41), 
.case:nth-child(41) ~ div:nth-child(-2n+48), 
.case:nth-child(49) ~ div:nth-child(-2n+57), 
.case:nth-child(57) ~ div:nth-child(-2n+64){
  background: linear-gradient(#441a03, #441a03a9);
  color: #fff;
}

/* Small screen and pad */
@media (min-width: 500px) and (max-width: 1280px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        margin-left: auto;
        align-items: center;
    }

    .menu {
        display: flex;
        flex-direction: column-reverse;
    }

    .bloc-game{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.game {
    width: 480px;
}

#chess-xrapper {
    width: 480px;
}

#chessboard {
    width: 480px;
}